@model ErrorViewModel
@{
    ViewData["Title"] = "حدث خطأ";
}

<h1 class="text-danger">خطأ.</h1>
<h2 class="text-danger">حدث خطأ أثناء معالجة طلبك.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>معرف الطلب:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>وضع التطوير</h3>
<p>
    التبديل إلى بيئة <strong>التطوير</strong> سيعرض معلومات أكثر تفصيلاً حول الخطأ الذي حدث.
</p>
<p>
    <strong>لا ينبغي تمكين بيئة التطوير في التطبيقات المنشورة.</strong>
    حيث يمكن أن يؤدي ذلك إلى عرض معلومات حساسة من الاستثناءات للمستخدمين النهائيين.
    للتصحيح المحلي، قم بتمكين بيئة <strong>التطوير</strong> عن طريق تعيين متغير البيئة <strong>ASPNETCORE_ENVIRONMENT</strong> إلى <strong>Development</strong>
    وإعادة تشغيل التطبيق.
</p>
